<div class="home-region">

  <div class="video">
    <iframe src="http://www.youtube.com/embed/G_SWnOY7bj4?fs=0&start=14" width="500" height="281" frameborder="0" allowfullscreen="false"></iframe>
  </div>
  <ul class="list">
    <li class="list-divider">Video: Don't Be a Candy Slut</li>
    <li>Quiz Time! Right answer gets 1 point.</li>
  </ul>

  <form>
    <div class="input-group">
      <ul class="list">
        <li>What liquid should you drink 1 gallon of per day?</li>
        <li><input type="radio" name="water" value="1gallon"> Soda</li>
        <li><input type="radio" name="water" value="3gallons"> Tea</li>
        <li><input type="radio" name="water" value="1liter"> Water</li>
      </ul>
    </div>
  </form>
  <a href="sms://9175634553" class="button-block button-positive">Submit Your Answer</a>

  <!--
  <a class="button-block button-positive">RSVP</a>
  -->
</div>

<div class="background-embedded background-onion"></div>
