<div class="home-region">
  <div class="logo"><img src="img/home/mkc-splash-logo.png" alt="" /></div>
  <div class="about-image"><img src="img/home/about-button.png" /></div>
  <div class="categories-image"><img src="img/home/categories-button.png" /></div>
  <div class="news-image"><img src="img/home/news-button.png" /></div>

  <div class="text-logo"><img src="img/home/text-logo.png" alt=""></div>
  <div class="mkc-social"><img src="img/home/mkc-social.png" alt=""></div>
</div>
<div class="background-embedded background-herb"></div>